@font-face {
  font-family: 'sf medium';
  src: url(../fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: 'sf regular';
  src: url(../fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: 'sf semibold';
  src: url(../fonts/SFUIText-Semibold.ttf);
}
.quest__header_box {
  height: 40px;
  line-height: 40px;
  margin-top: 50px;
}
.quest__view_box {
  width: 100%;
  height: calc(100% - 90px);
  margin-top: 30px;
  position: relative;
  padding: 30px 40px;
}
.quest__title_box {
  margin-bottom: 20px;
}
.quest__num_box {
  display: inline-block;
  width: 20px;
}
.quest__answer_box {
  padding-left: 20px;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.quest__mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.quest__container {
  height: 100%;
  position: relative;
  display: flex;
  transition: all 500ms ease;
  left: 0;
}
.quest__item {
  flex: 1 0 100%;
  height: 100%;
}
.quest__content_box {
  margin-top: 20px;
}
.quest_content-item_box {
  margin-top: 10px;
}
.quest__button_next {
  position: absolute;
  right: 40px;
  bottom: 50px;
}
.quest__button_prev {
  position: absolute;
  left: 40px;
  bottom: 50px;
}
.quest__button_confirm {
  position: absolute;
  bottom: 50px;
  height: 40px;
  line-height: 40px;
  left: calc(50% - 100px);
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #303f9f;
  background-color: #303f9f;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.31);
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.quest__arrow {
  cursor: pointer;
}
.quest__arrow:hover {
  color: #1abc9c;
}
.quest__input_others {
  border: none;
  appearance: none;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 5px;
}
.quest__input_others:focus {
  outline: none;
}
