<div ng-switch="$ctrl.type" class="quest__content_box">
    <ul ng-switch-when="radio" class="text_16">
        <li ng-repeat="item in $ctrl.quest.items" class="quest_content-item_box app-radio">
            <input type="radio"
                   id="item{{$ctrl.index}}_{{$index}}"
                   name="item{{$ctrl.index}}"
                   ng-value="item"
                   ng-model="$ctrl.quest.answer">
            <label for="item{{$ctrl.index}}_{{$index}}">
                {{item}}
            </label>
        </li>
        <li ng-show="$ctrl.quest.hasOther"  class="quest_content-item_box app-radio">
            <input type="radio"
                   id="item{{$ctrl.index}}_other"
                   name="item{{$ctrl.index}}"
            >
            <label for="item{{$ctrl.index}}_other" class="float__left">
                Other
            </label>
            <input type="text" width="200" class="quest__input_others"  ng-model="$ctrl.quest.others"/>
        </li>
    </ul>
    <textarea ng-switch-when="textarea" class="app-textarea" ng-model="$ctrl.quest.answer"></textarea>
</div>