<div class="question-new__container" ng-if="$ctrl.active==true">
    <form>
        <div class="form-group">
            <label>Type</label>
            <div>
                <select ng-model="$ctrl.selected_type"
                        ng-options="item.id as item.name for item in ($ctrl.question_type || [])"
                >
                </select>
            </div>

        </div>
        <div class="form-group">
            <label for="question_content">Content</label>
            <input type="text" class="form-control" id="question_content" placeholder="content"
                   ng-model="$ctrl.question_content">
        </div>
        <div class="form-group" ng-if="$ctrl.selected_type==1">
            <label for="question_options">Options</label>
            <ul>
                <li ng-repeat="option in $ctrl.question_options" class="question-new__option">
                    <span class="question-new__option_name">{{option}}</span>
                    <span class="glyphicon glyphicon-remove question-new__option_remove" ng-click="$ctrl.remove_options($index)"></span>
                </li>
            </ul>
            <div class="flex__row">
                <input type="text" class="form-control flex__row_1" id="question_options" placeholder="option"
                       ng-model="$ctrl.current_option"/>
                <a class="btn btn-primary flex__row_200"  ng-click="$ctrl.add_options()">ADD</a>
            </div>


        </div>
        <a class="btn btn-primary" ng-click="$ctrl.post_question()">Submit</a>
        <a class="btn btn-danger" ng-click="$ctrl.new_cancel()">Cancel</a>
    </form>

</div>